
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            <template>
                <v-card
                        class="mx-auto overflow-hidden"
                        height="100%"
                >
                    <v-app-bar
                            color="deep-purple"
                            dark
                    >
                        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

                        <v-toolbar-title>Title</v-toolbar-title>
                    </v-app-bar>

                    <v-navigation-drawer
                            v-model="drawer"
                            absolute
                            temporary
                    >

                        <v-list>
                            <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>mdi-home</v-icon>
                                </v-list-item-icon>

                                <v-list-item-title>Home</v-list-item-title>
                            </v-list-item>

                            <v-list-group
                                    :value="true"
                                    prepend-icon="mdi-account-circle"
                            >
                                <template v-slot:activator>
                                    <v-list-item-title>Users</v-list-item-title>
                                </template>

                                <v-list-group
                                        :value="true"
                                        no-action
                                        sub-group
                                >
                                    <template v-slot:activator>
                                        <v-list-item-content>
                                            <v-list-item-title>Admin</v-list-item-title>
                                        </v-list-item-content>
                                    </template>

                                    <v-list-item
                                            v-for="([title, icon], i) in admins"
                                            :key="i"
                                            link
                                    >
                                        <v-list-item-title v-text="title"></v-list-item-title>

                                        <v-list-item-icon>
                                            <v-icon v-text="icon"></v-icon>
                                        </v-list-item-icon>
                                    </v-list-item>
                                </v-list-group>

                                <v-list-group
                                        no-action
                                        sub-group
                                >
                                    <template v-slot:activator>
                                        <v-list-item-content>
                                            <v-list-item-title>Actions</v-list-item-title>
                                        </v-list-item-content>
                                    </template>

                                    <v-list-item
                                            v-for="([title, icon], i) in cruds"
                                            :key="i"
                                            link
                                    >
                                        <v-list-item-title v-text="title"></v-list-item-title>

                                        <v-list-item-icon>
                                            <v-icon v-text="icon"></v-icon>
                                        </v-list-item-icon>
                                    </v-list-item>
                                </v-list-group>
                            </v-list-group>
                        </v-list>

                        <v-list
                                nav
                                dense
                        >
                            <v-list-item-group
                                    v-model="group"
                                    active-class="deep-purple--text text--accent-4"
                            >
                                <v-list-item>
                                    <v-list-item-icon>
                                        <v-icon>mdi-home</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title>Home</v-list-item-title>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-icon>
                                        <v-icon>mdi-account</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title>Account</v-list-item-title>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-navigation-drawer>
                    <v-container>
                        <p>
                            Офис компании расположен в городе Ставрополь.
                            <a href="/ustanovka-glonass-gps.html" title="Установка систем ГЛОНАСС и GPS мониторинга" target="_blank">Установка</a>
                            систем спутникового мониторинга осуществляется на всей территории <strong>Ставропольского края</strong>, в том числе в крупнейших населенных пунктах:
                            <a href="http://pyatigorsk.stavtrack.ru/contacts.html" title="Адрес офиса в этом городе" target="_blank">Пятигорске</a>, Кисловодске, Ессентуках, Минеральных Водах, Невинномысске, Георгиевске,  Изобильном, Светлограде, Благодарном, Буденновске, Зеленокумске, Новоалександровске, Нефтекумске.
                        </p>

                        <div class="m-content">
                        <ul>
                            <li>удалённая <a href="/blokirovka-dvigatelyastartera-glonass.html">блокировка двигателя при внештатной ситуации</a>;</li>
                            <li><a href="/industry/kontrol-temperatury-v-refrizheratore.html">контроль температуры</a> перевозимого груза;
                            </li><li><a href="/oborudovanie/trevozhnaya-knopka.html">подключение тревожной кнопки для передачи сигнала SOS</a>;
                        </li><li>мониторинг <a href="/sistema-kontrolya-davleniya-v-shinah.html">давления в шинах техники</a>;
                        </li><li><a href="/oborudovanie-dlya-azs.html">автоматизация выдачи топлива на АЗС</a>;
                        </li><li>мониторинг <a href="/oborudovanie/datchik-ugla-naklona-eskort-du-ble-baza.html">работы механизмов</a> спецтехники;
                        </li><li>мониторинг <a href="/oborudovanie/indikator-obema-topliva-omnicomm-lld.html">текущего уровня топлива в кабине ТС</a>;
                        </li><li>мониторинг <a href="https://blog.stavtrack.ru/monitoring-transporta/kontrol-kachestva-vozhdeniya-kak-sistema-vialon-delaet-dorozhnoe-dvizhenie-bezopasnee">качества вождения</a>;
                        </li><li><a href="/oborudovanie/datchik-ugla-naklona-adm32.html">мониторинг угла наклона механизма</a>;
                        </li><li><a href="/oborudovanie/eskort-db-2.html">мониторинг уровня сыпучих продуктов в бункере</a>;
                        </li><li><a href="/toplivnye-karty.html">интеграция с сервисами процессинга топливных карт</a>;
                        </li><li><a href="/otslezhivanie-gruza.html">мониторинг перемещения контейнеров с датчиком вскрытия замка</a>;
                        </li><li><a href="/apk/kursoukazatel.html">интеграция с системами параллельного вождения</a>;
                        </li><li><a href="/zavgar-online.html">интеграция с системами управления транспортом</a>;
                        </li><li><a href="/soft.html">ретрансляция данных на сервера X5, Магнит, Газпромнефть и т.п.</a>;
                        </li><li><a href="/soft-stavtrack-online.html">передача данных в 1С, SAP и пр. программы учёта</a>.
                        </li></ul>
                    </div>
                    </v-container>
                </v-card>

<div class="v-bottom-navigation v-item-group theme--light v-bottom-navigation--fixed" style="height: 56px; transform: none;">
    <button type="button" value="recent" class="v-btn v-btn--active v-btn--is-elevated v-btn--has-bg theme--light v-size--default">
        <span class="v-btn__content">
            <span>Recent</span>
             <i aria-hidden="true" class="v-icon notranslate mdi mdi-history theme--light"></i>
         </span>
     </button>
      <button type="button" value="favorites" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default">
        <span class="v-btn__content">
            <span>Favorites</span>
             <i aria-hidden="true" class="v-icon notranslate mdi mdi-heart theme--light"></i>
         </span>
     </button>
      <button type="button" value="nearby" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default">
        <span class="v-btn__content">
            <span>Nearby</span>
             <i aria-hidden="true" class="v-icon notranslate mdi mdi-map-marker theme--light"></i>
         </span>
     </button>
 </div>

            </template>

        </v-main>



    </v-app>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            drawer: false,
            group: null,

            admins: [
                ['Management', 'mdi-account-multiple-outline'],
                ['Settings', 'mdi-cog-outline'],
            ],
            cruds: [
                ['Create', 'mdi-plus-outline'],
                ['Read', 'mdi-file-outline'],
                ['Update', 'mdi-update'],
                ['Delete', 'mdi-delete'],
            ],
            value: 'recent',
        }),
    })


</script>



</body>
</html>


